<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thank you for your feedback!</h1>
    <p>Your feedback is as important as one of the many thousands data point that
    will subjected to data science. i.e, not that important at all!</p>
    <ul>
        <li>Response Time: {{response_time}}</li>
        <li>Service: {{service}}</li>
        <li>Attribution: {{attribution}}</li>
        <li>Region: {{region}}</li>

    </ul>
</body>
</html>