{% extends 'layout.template.html' %} {% block content %}

<h1>Confirm deletion</h1>

<div class="alert alert-danger">
  <form method="POST">
    <p>
      Are you sure you want to delete 
      <span style="background-color: yellow;"
        >Incident report#{{report.id}} at {{report.location}}</span
      >
    </p>

    <input type="submit" value="CONFIRM" class="btn btn-danger" />
    <a href="{{ url_for('show_all') }}" class="btn btn-primary">Cancel Delete</a>
  </form>
</div>

{% endblock %}
